source/kicad/**/*/*-backups
source/kicad/**/*/.history
source/kicad/**/*/_autosave*
source/kicad/**/*/#auto_saved_files#
source/kicad/**/*/production
source/kicad/**/*/database
source/kicad/**/*/nextpcb
source/kicad/**/*/jlcpcb
~*.lck
__pycache__/